body{
	/*background: #F2F2F2;*/
	display: block;
	margin: 0px;
}

header{
	padding: 15px 40px 15px 185px;
	vertical-align: center;
	background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	background-repeat: repeat-x;
	background: #f3f3f3 url("../images/logo.png") no-repeat left center;
	text-shadow: 0 1px 0 #fff;
	border-bottom: 1px solid #e5e5e5;
}

header h1{
	font-size: 24px;
	margin-left: 30px;
	color: #4D4D4D;
}

header #formContainer {
	vertical-align: center;
	float: right;
	margin-top:-40px;
	margin-right: 20px;
}


article{
	padding: 15px;
	width: 100%;
	height: auto;
	/*border: solid 1px #ccc;*/
	clear:both;
}

.itemClass{
	height: 160px;
    border: solid 1px #C2C2C2;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 10px 10px;
	float:left;


	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

article .deptoItem{
	width: 240px;
}

article a{
	color: #2774B8;
	text-decoration: none;
}
article a:hover{
	color: #1A5A91;
	text-decoration: underline;
}

.itemOptions{
	width: 100%;
	text-align: center;
}

.mostrarOptions{
	display: block;
}

.ocultarOptions{
	display: none;
}

.itemOptions a{
	margin: 0px 15px 0px 30px;
	display:inline-block;
    height:24px;
    width:24px;
}

#editItem{
	background-image: url("../images/edit.png");

}

#removeItem{
	background-image: url("../images/delete.png");
}


div #itemContent{
	padding-bottom: 1px;
	height: 110px;
}

div #itemContent img{
	width: 60px;
	height: 60px;
	float: left;
	margin: 0px 8px 8px 0px;
}

div #itemContent label{
	color: #777;
}

.itemClass:hover{
	border: solid 1px #9E9E9E;
	background-image: -moz-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: -webkit-linear-gradient(#f9f9f9, #f3f3f3);
	background-image: linear-gradient(#f9f9f9, #f3f3f3);
	background-repeat: repeat-x;
}

div #itemContent:hover{
	/*background-color: #ccc;*/
	cursor: pointer;
}

#itemContent, #itemContent p, #itemContent h4, #itemContent label{
	line-height: 1px;
}


article #newItem{
	width: 160px;
	vertical-align: center;
	text-align: center;
}

#searchForm #buscar{
	width: 210px;
	height: 28px;
	padding: 10px 5px;
	float: left;
	font: 16px 'lucida sans', 'trebuchet MS', 'Tahoma';
	border: 1px solid #C7C7C7;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.clearLine{
	clear:both;
}

footer {
	margin-top: 30px;
	text-align: center;
	color: #444;
}

footer a{
	color: #444;
	text-decoration: none;
	font-weight: bold;
}

/* Add item */
#addItem{
	background-image: url("../images/plus.png");
	display:block;
    height:128px;
    width:128px;
    margin-top: 15px;
    margin-left: 15px;
}


/* Departamento View */
#contenedorImagenView{
	max-height: 230px;
	width: 220px;
	padding: 15px 15px 15px 15px;
	float: left;
	position: relative;
	/*border: 1px solid #000;*/
	text-align: center;
}

#contenedorImagenView span{
	margin-top: 8px;
}

#contenedorImagenView img{
	max-height: 165;
	max-width: 195px;
}

#departamentoViewContent, #departamentoViewContent p, #departamentoViewContent h4{
	line-height: 8px;
	margin-left: 15px;
}

#departamentoViewContent .itemcontainer{
	margin-left: 12px;
	padding-left: 20px;
}

#departamentoViewContent .infoDepto{
	padding-top: 8px;
}

#departamentoViewContent .itemOptions{
	padding-top: 16px;
	margin-left: 80px;
}


/* fin departamento view */

/*Departamento FORM */

#departamentoForm div{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}

#fotoContainer{
	max-height: 210px;
	max-width: 210px;
	padding: 5px 15px 15px 5px;
	float: left;
	text-align: center;
	/*border: 1px solid #000;*/
}

#fotoDepto{
	max-width: 180px;
	max-height: 160px;
}

#dataDeptoForm label{
	margin-top: 12px;
	margin-bottom: 3px;
	margin-left: 10px;
}
#dataDeptoForm input{
	margin-left: 10px;
}
textarea{
	margin-top: 8px;
	margin-bottom: 3px;
	margin-left: 10px;
	width: 240px;
	height: 80px;
}
/*Fin - Departamento FORM */